<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content container-xxl d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
                    <h1 class="fw-bolder mb-2 mt-2 tx-80 text-danger">403</h1>
                    <h4 class="mb-2">Access Denied</h4>
                    <h6 class="text-secondary mb-3 text-center">
                        You do not have permission to view this page.<br>
                        Please contact your administrator if you believe this is an error.
                    </h6>
                    <a routerLink="/" class="btn btn-primary">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
